/*
    Styling for major Divs in Overview main component
*/

html, body, .container-table {
    height: 100%;
}

/* header div */
header{
    margin-top: 2em;
    min-height: 4em;
}

/* Main Center div, by id */
.container {
    display: table;
    width: 60%;
}

.center-div {
    margin-top: 2em;
    border-left: 2px solid black;
    border-right: 2px solid black;
    min-height: 80vh;
    min-width: 800px;
}

/* LeftSide Div */
.left-div {
    text-align: center;
    display: flex;
    justify-content: center;
}

.left-data-graph {
    margin-left: 6%;
}

#data-graph-title {
    margin-left: 10%;
}

/* DataTable Div */
.right-data-table {
    margin-top: 2em;
    width: 40%;
    min-width: 380px;
    

    text-align: center;
}

