/*
    Styling for major Divs in Overview main component
*/

html, body, .container-table {
    height: 100%;
}

/* header div */
header{
    margin-top: 2em;
    min-height: 4em;
}

/* Main Center div, by id */
.container {
    display: table;
    width: 60%;

}

.center-div {
    margin-top: 2em;
}

/* LeftSide Div */

/* DataTable Div */
.right-data-table {

    margin-top: 2em;
    margin-left: auto;
    width: 50%;

    text-align: center;
}

