/*
    Styling for major Divs in Overview main component
*/
#overview-center-col {
    min-width: 900px;
}

.center-div {
    min-height: 80vh;
    min-width: 800px;

    border: 8px solid var(--primary-col);
    border-top: 0px;
    border-bottom: 0px;

    background-color: black;
}

/* LeftSide Div */
.left-div {
    width: 85%;
    margin: auto;
    margin-top: 0%;

    text-align: center;
    justify-content: center;
    
}

.left-data-graph {
    margin: auto;
    margin-bottom: 10%;
}


.inline-summary-table {
    height: 100%;
    margin-bottom: 10%;
    width: 100%;
    table-layout: fixed;

}


/* DataTable Div */
.right-data-table {
    float: right;
    margin: auto;
    margin-right: 7%;
    min-width: 340px;
    

    text-align: center;
}

/* Divs with text indicate waiting for data retrieval */
.loading-data-try {
    color: white;
    font-size: large;
    font-weight: 600;
}
