/* PostTransactions specific Style Sheet */
:root {
    --bordered-sec-width: 94%;
    --bordered-sec-margin: 3%;
}

.sample {
    height: 100px;
}


.scroll-sample {
    height: 400px;
}


/* Main content Styling */
#transactions-center-col {
    min-width: 1400px;
    height: 100vh;
}

#post-trans-main-content {
    height: 100vh;
}

.content-row {
    margin: auto;
    color: var(--primary-col);
}

.content-col {
    height: 100%;
}

.section-title-row {
    margin-left: var(--bordered-sec-margin);
}

.section-footer-row {
    float: right;
    margin-right: var(--bordered-sec-margin);
}

.section-title {

    white-space: nowrap;
    font-weight: 700;
    font-size: 3em;
}

.bordered-section {
    width: var(--bordered-sec-width);
    margin-left: var(--bordered-sec-margin);

    border: 3px solid var(--primary-col);
    border-left: 0; border-right: 0;
}
/* ------------------ */

/* Scrollable DIV content styling */
.scrollable-row {
    border: 2px red solid;
    overflow-y: auto;
}

.main-scrollable-content-row {
    max-height: 50%;
}

.rollover-row {
    position:relative;
    height:100%;
    min-height:100%;
    width:100%;
    z-index:1000;
}

#pt-pending-transactions {
    
}

/* ------------------ */

/* General Utility Object Styling */

.post-trans-plus {
    font-size: 4em;
    font-weight: 800;

    transition: color 0.2s;

    height: fit-content;
}

.post-trans-hoverable:hover {
    color: var(--tert-col);
    fill: var(--tert-col);
    stroke: var(--tert-col);

    transition: color fill stroke 0.4s;
    cursor: pointer;
    
}

.post-trans-plus > div {
    height: 0;
    position: relative;
    bottom: 10px;
}

.post-trans-arrow {
    fill: var(--primary-col);
    transition: fill 0.2s;
}

.post-trans-double-plus {
    color: var(--primary-col);
    fill:  var(--primary-col);

    stroke: var(--primary-col);
    stroke-width: 0.5;

    transition: color fill stroke 0.4s;
}

/* ------------------ */

/* Add new Transaction */
#add-new-transaction {
    margin-top: 3%;
    min-height: 200px;
    max-height: 20%;
}

#transaction-form-div {
    height: 100%;
}

.post-trans-subsec-title-item {
    padding-left: 6px;
}

.post-trans-subsec-footer-item {
    padding: 0 8px;
}

    .post-trans-subsec-footer-item.post-trans-arrow-outer-div {
        padding-right: 2px;
    }

.section-footer-row {
    margin-top: 10px;
}


.post-trans-subsec-title-item.post-trans-arrow-outer-div > div {
    position: relative;
    top: 30px;
}

.post-trans-subsec-footer-item.post-trans-arrow-outer-div > div {
    position: relative;
    top: 5px;
}

/* ------------------ */




/* Main content Styling */


/* ------------------ */