
/* Styling for generic drop down component */

.drop-down-wrapper-div {
    position: absolute;

    z-index: 800;

    overflow-y: auto;
    overflow-x: hidden;

    background-color: transparent;
}

.drop-down-table {
    text-align: left;
    white-space: nowrap;
}

.drop-down-nested-wrapper-div {
    width: 90%;
}

.dd-row {

    line-height: 28px;

    border: 1px solid var(--primary-col);
    border-left: 0px; border-right: 0px;
}

.dd-hov-row {

    line-height: 34px;
    border: 2px solid var(--primary-col);
    background-color: var(--heavy-grey);

    font-weight: bolder;
    font-size: 1.2em;
    border-left: 0px; border-right: 0px;

}