/* Dynamic Backgroun ideas */

/*URL: https://alvarotrigo.com/blog/animated-backgrounds-css/ */

@keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

.side-anim {
    width: auto;
    padding: 0;
}

.for-side-anim 
{
    
    background-image: linear-gradient(
          -90deg, 
          var(--heavy-grey) 2%, 
          var(--secondary-col) 100%
    );  
    animation: AnimateBG 20s ease infinite;
}


.rev-side-anim {

    background-image: linear-gradient(
          90deg, 
          var(--heavy-grey) 2%,
          var(--secondary-col) 100%
    );  
    animation: AnimateBG 20s ease infinite;
}

.center-div {

    background-image: linear-gradient(
        135deg, 
        var(--heavy-grey) 0%, 
        var(--secondary-col) 51%, 
        var(--very-heavy-grey) 100%
  );  
  animation: AnimateBG 10s ease infinite;
}

  
