/* Dynamic Backgroun ideas */

/*URL: https://alvarotrigo.com/blog/animated-backgrounds-css/ */

@keyframes animateBG { 
    0% {
        background-position:0% 50%
    }
    50% {
        background-position:100% 50%
    }
    100%{
        background-position:0% 50%
    }
  }

#overview-background
{

    /*background: linear-gradient(-45deg, var(--black), var(--very-heavy-grey) );*/
    background: linear-gradient(-45deg, var(--black),var(--very-heavy-grey), var(--very-heavy-grey), var(--black));
    background-size: 200% 200%;
    animation: animateBG 10s ease infinite;
    min-height: 100vh;
}

.side-anim {
    width: auto;
    padding: 0;
}


.for-side-anim 
{
    
    background-image: linear-gradient(
          -90deg, 
          var(--heavy-grey) 2%, 
          var(--secondary-col) 100%
    );  
    animation: AnimateBG 20s ease infinite;
}


.rev-side-anim {

    background-image: linear-gradient(
          90deg, 
          var(--heavy-grey) 2%,
          var(--secondary-col) 100%
    );  
    animation: AnimateBG 20s ease infinite;
}

.center-div.gradient {

    background-color: var(--very-heavy-trans-grey);
}

  
