/* CSS for our add new transaction form in Post Transactions */


/* General Form Styling */
form {
    display: inline-block;
}

/* Table Styling */
#pt-add-new-trans-form-wrapper-table {
    width: 100%;

    margin-top: 1%;
    text-align: center;

    border-collapse: separate;
    border-spacing: 20px 0px;
}

#pt-add-new-trans-form-wrapper-table > tbody {
    display: table;
}

#pt-add-new-trans-form-wrapper-table > tbody > tr > th {
    font-size: medium;
    vertical-align: top;

    position: relative;
}

#pt-add-new-trans-form-wrapper-table > tbody > tr > * {
    max-width: 200px;
    min-width: 30px;

    overflow-y: auto;
}


/* Specific Form Styling */
.pt.form-field {
    width: 100%;

    font-size: 1.2em;
    font-weight: 500;

   
}

 input.pt {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: cursor;
}

input.pt {
    
    background-color: transparent;
    color: white;

    border: 0px;
    border-bottom: 2px solid var(--tert-col);
    box-shadow: none;
    outline-offset: 0;
}



/* Errors */

.pt.data-col::after {
    position: absolute;
    padding-top: 2px;
    padding-left: 3px;
    font-size: medium;
    font-weight: 400;
}

.pt.data-col-error > input {
    border-bottom: 2px solid var(--error-red) !important;
}

.pt.data-header-error {
    color: var(--error-red) !important;
}

.pt.data-col-error::after {
    color: var(--error-red);
    content: "\26A0";
}

/* Check */
.pt.data-col-complete > input {
    border-bottom: 2px solid var(--check-green);
}

.pt.data-col-complete::after {
  color: var(--check-green);
  content: "\2611";
}

/* Unvisited */

.pt.data-col-unvisited > input {
    border-bottom: 2px solid var(--trans-grey) !important;
}

.pt.data-header-unvisited {
    color: var(--trans-grey) !important;
}


/* Specific Field Styling */

.pt.data-col {
    width: 8%;
}

.pt.purchase-date-tuple {
    width: 1%;
}

    input[type="date" i].pt.form-field {
        max-width: 5.8em;
        position: relative;
        top: 1px;

    }

    input[type="date" i].pt.form-field::-webkit-calendar-picker-indicator {
        display: none;
    }

    input[type="date" i].pt.form-field::-webkit-calendar-picker-indicator,
    input[type="date" i].pt.form-field::-webkit-calendar-picker-indicator {
        -webkit-appearance: none; 
        margin: 0; 
    }

    /* VENDOR TUPLE */
    .pt.amount-tuple {
        width: 4%;
    }

    /* VENDOR TUPLE */
    .pt.vendor-tuple {
        width: 14%;
    }

    /* CATEGORY TUPLE */
    .pt.category-tuple {
        width: 12%;
    }

    /* Reimbursements */
    #reimburses.pt.form-field {

    }

    #reimburses[type=number]::-webkit-inner-spin-button, 
    #reimburses[type=number]::-webkit-outer-spin-button { 
        display: none;
    }

    /* PAY STATUS */
    .pt.pay-status-tuple {
        width: 10%;
    }

    /* INCOME TUPLE */
.pt.income-tuple {
    width: 1%;
}

#income.pt.form-field {
    position: relative;
    outline: 2px solid var(--tert-col);
    border: 0px;
    bottom: -5px;    
}
    .pt.data-col::-webkit-scrollbar {
        display: none;
    }

    .pt.form-field {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    #income[type="checkbox" i].pt.form-field {
        height: 20px;
        width: 20px;
        border-radius: 2px;
        background-color: var(--primary-col);
    }

    #income[type="checkbox" i].pt.form-field:hover, 
    #income[type="checkbox" i].pt.form-field::selection {
        background-color: var(--tert-col);
        transition: background-color 0.2s;
    }


    #income[type=checkbox i]:checked:after {
        content:"\2713";
        color: var(--secondary-col);
        font-weight: bold;

        position: absolute;
        bottom: -3px;
        left: 3px;
     }

/* END INCOME CSS */


        /* FORM ADJUSTMENTS */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}


/* DROP DOWN CSS FOR PT */
.pt.drop-down-wrapper-div {
    min-width: 180px;
    max-height: 200px;

    padding-right: 10px;
    border: solid 2px var(--primary-col);
    border-radius: 10px;             
    border-right: 0px;
    /*
    --d: 92%;
    border-image: linear-gradient(to right, white var(--d),
     var(--secondary-col) var(--d)) 1;
    border-right: 0px; border-left: 0px;
    */
    
}

.pt.drop-down-nested-wrapper-div {
    min-width: 100%;
    width: fit-content;
    background: var(--secondary-col);
    border: 1px solid white;
    border-bottom: 0px;    
}

.pt.drop-down-table {
    min-width: fit-content;
    padding-right: 50px;
    width: 100%;
    font-size: 1.2em;
}

.pt.drop-down-wrapper-div > table > tbody > tr > td > div {
    padding-left: 10px;
    color: var(--tert-col);
}

/* fiddle: https://jsfiddle.net/z728ukxg/16/
    stack: 
*/

/* Scrollbar */
        .pt.drop-down-wrapper-div::-webkit-scrollbar {
            width: 8px;
            border-radius: 10px;
            background-color: transparent;
        }


        ::-webkit-scrollbar-track {
            background-color: transparent;
        }

        .pt.drop-down-wrapper-div::-webkit-scrollbar-track:hover {
            background-color: var(--med-grey) ;
            border-radius: 10px;
        }
        
        /* Handle */
        .drop-down-wrapper-div::-webkit-scrollbar-thumb {
            background-color: var(--primary-col);
            border-radius: 20px;
        }

.pt.dd-row {
    font-weight: bold;
}

.pt.dd-hov-row {
    cursor: default;
}