/* Styling for our main summary pie chart */

/* General list styling */
#data-graph-legend-list{
    color: black;
    list-style: none;
    columns: 2;
    justify-content: left;
}

/* Special styling for list attribs */
li::before {
    content: "• "; 
    color: attr(dyn-color);
    font-size: medium;
}