/* Styling for our main summary pie chart */

/* DIV styling for table */

#data-graph-wrapper{
    align-items: center;
    height: inherit;
    background-color: gray;
}

#data-graph-plot{

}

.data-graph-legend{
    align-items: center;
    margin: auto;
    margin-top: -6%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 20px;
}

/* General list styling */

#data-graph-legend-list{
    text-align: center;

    margin: auto;
    table-layout: fixed;

    line-height: 1em;
    border-collapse: separate;
}

#data-graph-legend-list > tr{
    text-align: left;
}

/* Special styling for list attribs */
.bul {
    font-size: 1em;
    vertical-align: bottom;

    width: 5%;
}

.data-graph-val {
    font-size: medium;
    font-weight: 400;

    width: 40%;

    vertical-align: top;
    text-align: left;
}

/* Overriding CSS Legend items */

/* Box holds a few legend items */
.rv-discrete-color-legend {
    overflow-y: unset;
    margin: auto;
}

/* Box holds a few legend items */
.rv-discrete-color-legend-item {
    text-align: center;
}

.rv-discrete-color-legend-item::after{
    width: 100%;
}