
/* CSS for data table designed in components/DataTable.tsx */

.data-table-wrapper {
  min-width: 450px;
  margin-top: 2%;
}

/* Table CSS */
.transactions-table, .summary-subtable{
  font-family: var(--data-font-base);
  color: var(--prim-font-col);
  border: solid 2px;
  border-color: var(--trans-grey);
}

#data-table-title {
  white-space: nowrap;
}

.transactions-table {
    float: right;
    text-align: center;
    width: 100%;
    table-layout: fixed;
}

/* Header CSS */
  .data-table-header{
    background-color: transparent;
    color: var(--primary-col);

    border: solid 4px;
    border-color: var(--trans-grey);
    border-bottom: 0;
    line-height: 3em;

    font-weight: 600;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
   }

/* Row CSS */

.data-table-row {
    text-align: middle;
    vertical-align:middle;

    border: solid 2px;
    border-bottom-width: 1px;
    border-color: var(--trans-grey);

    font-weight: 400;
    font-size: 14px; 
    overflow-x: none;

    white-space: nowrap;
  }
  

  /* cell CSS */
  .data-table-entry {
    overflow: unset;
    word-wrap: unset;
  }


  /* Data Overlay styling */
.dt-tooltip > .tooltip-inner {
  border: 1px solid var(--primary-col);
  margin-left: 5px;
  border-radius: inherit;
  padding: 10px 10px 0px 0px;     /* Top right bottom left */
  padding-left: 0;

}

.dt-tooltip > *{
  text-align: left;
}