
/* CSS for data table designed in components/DataTable.tsx */

/* Table CSS */
.summary-subtable {
    text-align: center;
    width: 100%;
    table-layout: fixed;
}

/* Header CSS */
  .data-subtable-header{
    line-height: 1.5em;
   }


/* Row CSS */
.data-subtable-row {
    text-align: left;
  }
  
  .income-summary-subtable-row:hover {
    background-color: aquamarine;
  }


  .expense-summary-subtable-row:hover {
    background-color: darksalmon;
  }

  /* cell CSS */
  .data-table-entry {
    overflow: unset;
    word-wrap: unset;
  }