/* General Styling for components that appear in various pages */

:root {
    --primary-col: rgb(255, 80, 10);
        --primary-col-trans: rgba(255, 80, 10, 0.3);
    --secondary-col: black;
    --tert-col: white;

    --prim-font-col: rgb(255, 255, 255);
    --sec-font-col: var(--primary-col);

    --trans-grey: rgba(196, 196, 196, 0.2);
    --very-trans-grey: rgba(196, 196, 196, 0.8);
    --med-grey: rgba(48,48,48);
    --heavy-grey: rgba(18,18,18);
    --very-heavy-grey: rgba(6,6,6);

    --error-red: red;
    --check-green: rgb(11, 211, 11);

    --data-font-base: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --title-font-base: 'Fantasy';
}

/* Index Styling */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

/* Most General Styling */
html, body, .container-table, div#root{
    height: 100%;
}

/* header div */
header{
    min-height: 78px;
    min-width: 800px;
    
    background-image: linear-gradient(
        -90deg, 
        var(--primary-col) 0%, 
        rgb(255, 160, 100) 40%,
        var(--primary-col) 90%
      );
    border-top: 4px solid var(--secondary-col);
}


.nested-banner-img {
    width: 60%;
    position: relative;
    left: 0.45%;
    top: -1px;
}

#banner-img {
    width: 100%;
    height: 100px;
}

.header-container {
    
}

.banner-text {
    font-size: 4em;
    font-weight: 800;
    color: var(--primary-col);

    width: fit-content;
    flex: 0;
}

.logo-title-container {
    position: relative;
    height: 0;

    top: -84px;
    left: 3%;

    height: 0;
    position: relative;
    width: 40%;
}


/* END HEADER SPECS */


/* Main Center div, by id */
.container {
    height: 100%;  
    padding: 0;
}


.row > *{
    padding: 0;
}

.outer-row {
    width: 100%;
}


.center-div {
    padding-top: 2%;

    border: 4px solid;
    border-image: linear-gradient(
      to bottom, 
      var(--primary-col), 
      rgb(255, 160, 100),
      var(--primary-col)
    ) 1 90%;

    border-top: 0px;
    border-bottom: 0px;

    /*background-color: var(--secondary-col);*/
}

.col-6 {
    padding: 0;
}



/* Hyperlink Buttons */
.svg-arrow {
    fill: black;
}

.svg-double-plus {
    fill: black;
    stroke: black;
    stroke-width: 1;
}


/* Utility */

.no-padding {
    padding: 0;
}

.no-scroll {
    overflow-y: hidden;
}

.no-internal-padding > * {
    padding: 0 !important;
}

.fit-content {
    width: fit-content !important;
}

.no-flex {
    flex: 0 !important;
}

.no-internal-flex > * {
    flex: 0 !important;
}


/*
    LIST OF Z-indices

    TOP: 1000
    DropDown Base: 800


    pt-fixed rolling divs: -100
*/