/* Styling for components that appear in various pages */

:root {
    --primary-col: rgb(255, 80, 10);
    --secondary-col: black;
    --tert-col: white;

    --prim-font-col: rgb(255, 255, 255);
    --sec-font-col: var(--primary-col);

    --trans-grey: rgba(196, 196, 196, 0.2);

    --data-font-base: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --title-font-base: 'Fantasy';
}

/* Most General Styling */
html, body, .container-table {
    height: 100%;
}

/* header div */
header{
    margin-top: 1 px;
    min-height: 4em;
    min-width: 800px;
    
    background-color: var(--primary-col);
}

.outer-row {
    width: 100%;
}

/* Main Center div, by id */
.container {
    margin: auto;
    max-width: max-content;
    padding-bottom: 10px;
}



/* Page banner */
#banner-img {
    width: 100%;
}

/* Hyperlink Arrows */

.hyperlink-arrow {
    width: fit-content;
    height: 30px;

    font-size: 2em;
    font-weight: 900;
}

/* p inside hyperlink arrow */
.overview-arrow > p {
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 16px;
}

.overview-arrow {
    position: relative;
    top: 13px;
    padding: 4px;
    margin: 0 4px;

    color: var(--secondary-col);
    background-color: var(--primary-col);
    transition:color 0.4s;

    border-radius: 30px;

}

.overview-arrow:hover {
    color: var(--tert-col) !important;
    transition:color 0.2s;

    top: 9px;
    transition: top 0.5s;

    cursor: pointer;

}


/* Utility */

.no-padding {
    padding: 0;
}